{% extends 'incs/_base.html' %}


{% block content %}
{% for b in banners %}
<div class="container">
<img src="{{ b.image.url }}" class="m-auto" alt="{{ b.alt }}">
</div>

{% endfor %}

    <div class="container">
    <div class="row">

    </div>
    </div>
{% endblock %}
{#<div class="card" style="width: 18rem;">#}
{#  <img src="..." class="card-img-top" alt="...">#}
{#  <div class="card-body">#}
{#    <h5 class="card-title">Card title</h5>#}
{#    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>#}
{#    <a href="#" class="btn btn-primary">Go somewhere</a>#}
{#  </div>#}
{#</div>#}